{% include header.html %}

<body>
    <div class="container">
        {% for listing in site.listings %}
        <h3><span class="glyphicon glyphicon-barcode"></span>  {{ listing.item }}</h3>
        <h4><span class="glyphicon glyphicon-th-list"></span> Overview</h4>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <caption><p class="text-center">{{ listing.overview }} </p><caption>
                        <tbody>
                            <tr>
                                <th class="text-right">Item:</th>
                                <td>
                                    {{ listing.item }}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">Condition:</th>
                                <td>
                                    <span class="label label-success">{{ listing.condition}}</span>
                                    <span class="label label-primary">Pre-Owned</span>
                                    <span class="label label-warning">For Parts</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-right">Original Packaging:</th>
                                <td>
                                    <span class="label label-success">{{ listing.packaging }}</span>
                                    <span class="label label-info">No</span>
                                    <span class="label label-primary">See Description</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h4><span class="glyphicon glyphicon-list-alt"></span> Description</h4>
            <p>{{ listing.content }}</p>
            {%endfor%}

            <h3><span class="glyphicon glyphicon-folder-close"></span> Packaging</h3>
            <p>We package all our items carefully to ensure they arrive safely. Please contact us if you have questions about packaging standards.</p>
            <h3><span class="glyphicon glyphicon-envelope"></span> Shipments</h3>
            <h4><span class="glyphicon glyphicon-time"></span> Handling</h4>
            <p>We will ship all orders within <mark>1 business day</mark> of payment.</p>
            <h4><span class="glyphicon glyphicon-send"></span> Delivery</h4>
            <p>We typically ship according to the following criteria:</p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead><tr><th>Weight</th><th>Shipper</th><th>Service</th><th>Delivery Time</th></tr></thead>
                        <tbody>
                          {% for shipmethod in site.data.shipmethods %}
                           <tr><td>{{shipmethod.weight}}</td><td>{{shipmethod.shipper}}</td><td>{{shipmethod.service}}</td><td>{{shipmethod.deliverytime}}</td></tr>
                        {% endfor %}
                    </table>
                    <small>*delivery times are <u>after handling</u>. Times determined by carrier and are subject to change.</small>
                </div>
            </div>
            <p>We tend to favor USPS. Check shipping tab for exact details.</p>
            <h3><span class="glyphicon glyphicon-ok-circle"></span> Return Policy</h3>
            <p>All of our items are backed by eBay's 14-day return policy. <mark>Buyer is responsible for return shipping</mark>.</p>
            <h3><span class="glyphicon glyphicon-comment"></span> Feedback</h3>
            <p>We take our reputation seriously. If you are unsatisfied by your order, please contact us and we will work with you to resolve it to your satisfaction.</p>
        </div> <!-- /container -->
    </body>
</html>
